.chatbot-container {
  background-color: #f5f5f5; 
  border-radius: 15px;
  width: 380px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2000;
}

.chatbot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(135deg, #008485, #86bebe); */
  background: linear-gradient(135deg, #1A7CFF, #7DE3EC, #E1F4C0);
  color: white;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  font-size: 16px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.chatbot-content {
  padding: 10px;
  background-color: #ffffff; 
  height: 430px;
  overflow-y: auto;
  font-weight: 300;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.chatbot-content::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

.chatbot-content::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
  padding:10px;
}

.chat-message {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.chat-message.bot {
  align-items: flex-start;
}

.chat-message.user {
  align-items: flex-end;
}

.chat-message.bot p {
  background-color: #f0f0f0; 
  color: black; 
  border-radius: 10px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 80%;
  font-size: 14px;
  margin-left: 35px;
}

.chat-message.user p {
  background-color: #1F81FE;
  opacity: 80%;
  color: white;
  border-radius: 10px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 80%;
  font-size: 14px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #999;
  margin: 0 0 0 0;
}


.chatbot-footer input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px; 
  outline: none;
  margin-right: 10px;
  background-color: #f3f3f3; 
  color: #999; 
  font-weight: 300;
}

.chatbot-footer input::placeholder {
  color: #b3b3b3;
  font-weight: 300;
}

.chatbot-footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  border: none;
  padding: 10px 50px 10px 15px; 
  font-size: 14px;
  border-radius: 20px; 
  outline: none;
  background-color: #f3f3f3;
  color: black; 
}

.input-container input::placeholder {
  color: #b3b3b3; 
}

.send-button {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  background: #1F81FE;
  opacity: 80%;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: 'center';
  text-align: 'center';
}

.bot-image {
  width: 37px;
  margin-right: 5px;
  border-radius: 50%; 
}

.bot-name {
  color: black; 
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}
