@font-face {
  font-family: 'Hana2Bold';
  src: url('../assets/font/Hana2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hana2Regular';
  src: url('../assets/font/Hana2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hana2Medium';
  src: url('../assets/font/Hana2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}