* {
  font-family: 'Hana',sans-serif;
}

/* App.css 또는 특정 CSS 파일 */
.ant-input::placeholder {
  font-family: 'Hana2Bold', sans-serif;
}


.ant-tooltip .ant-tooltip-inner {
  color: black;
  font-weight: lighter;
}
