* {
  font-family: 'Nanum',sans-serif;
  font-weight: bold;
}

.ant-input::placeholder {
  font-family: 'NanumSquareB', sans-serif;
}

.ant-tooltip .ant-tooltip-inner {
  color: black;
  font-weight: lighter;
}

.bold-header {
  font-weight: bold;
}

.ant-input {
  font-weight: 500; /* 모든 input에 500 적용 */
}